# Database Configuration
DB_HOST=trip-booking-database.c9mqyasow9hg.us-east-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=your_database_password
DB_NAME=trip_booking

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_51HjVLCHwUKMuFjtpIAaHKDiWRCf3y6xXl4ZeVqRUefWCiNUsJdr93BPnvRvx69NZZV4HkgglpuOVUjI1X77lYNtk00vYeIs8qV
STRIPE_WEBHOOK_SECRET=whsec_d9486cdc4554cef4e53d8f65b95297cde986e5e64d99bda605521788d2d82595

# Server Configuration
PORT=3002
NODE_ENV=development
